PORT=5000
MONGODB_URI=mongodb+srv://admin:password@cluster.xxxx.mongodb.net/my_database?retryWrites=true&w=majority

CLIENT_URL=http://localhost:5173

JWT_REGISTRATION_SECRET=
JWT_ACCESS_SECRET= 
JWT_RESET_SECRET=

RESEND_API_KEY= 
